body {
    background-color: rgba(197, 40, 245, 0.89);
}

.container {
    border-radius: 50px;
    background-color: rgba(123, 0, 160, 0.479);
    animation: Animation 2s ease 0s 1 normal forwards;
}

@keyframes Animation {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.titulo {
    background-color: rgb(59, 0, 77);
    color: rgb(255, 255, 255);
    text-decoration: overline wavy;
}

.imagen{
    width: 170px;
    height: 180px;
    border-radius: 20px;
}
.imagen:hover {
    transition: 1s;
    box-shadow: 18px 14px 12px -1px rgba(135, 135, 135, 0.79);
    -webkit-box-shadow: 18px 14px 12px -1px rgba(135, 135, 135, 0.79);
    -moz-box-shadow: 18px 14px 12px -1px rgba(135, 135, 135, 0.79);
}